@{
    ViewData["Title"] = "Brak dostępu";
}

<div class="text-center">
    <h1 class="text-danger">Brak dostępu</h1>
    <h2 class="text-danger">Nie masz uprawnień do tej strony.</h2>
    <p>
        <a asp-controller="Home" asp-action="Index">Wróć do strony głównej</a>
    </p>
</div>